<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"> <!--Setting the xml namespace for this document-->
<head>
    <meta charset="utf-8" /> <!--Setting the document to use the utf-u format encoding-->
    <title>Index</title> <!--The document title that also appears in the Tab on your browser-->
    <link rel="stylesheet" type="text/css" href="css/style.css" /><!--Linking the stylesheet called style.css-->
</head>
<body>

    <div class="div1" id="div1"><h1><strong>To Do App</strong></h1></div><!--Heading that appears at the top of the page-->

    <a href="/newtask"><h2>Add New Task</h2></a>
    <a href="/listtasks"><h2>List All Tasks</h2></a> <!--Links to add and list tasks-->

</body>
</html>